<template>
  <v-card
    width="450"
    max-height="600"
    class="mx-auto"
  >
    <v-toolbar
      color="green"
      dark
    >
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title>Chats</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="this.newChat">
        <v-img src="../assets/icon-new-chat.svg"></v-img>
      </v-btn>
    </v-toolbar>

    <v-list style="max-height: 300px; overflow-x: scroll" three-line>
      <template v-for="(item, index) in items">
        <v-list-item
          :key="item.id"
        >
          <v-list-item-avatar>
            <v-img :src="item.avatar"></v-img>
          </v-list-item-avatar>

          <v-list-item-content @click="getByRoomId(item.id)">
            <v-list-item-title v-html="item.name"></v-list-item-title>
            <v-list-item-subtitle v-html="item.last_comment.message"></v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        
        <v-divider
        :key="index"
        :inset="true"
        ></v-divider>
      </template>
    </v-list>
    
    <v-dialog
      v-model="dialog"
      width="450"
      attach
    >
      <v-card>
        <v-card-title>
          Select User
        </v-card-title>

        <v-card-text>
          <v-text-field
            label="Input ID"
            v-model="userId"
            required
          ></v-text-field>
          <v-list style="max-height: 300px; overflow-x: scroll" three-line>
            <template v-for="(item, index) in users">
              <v-list-item
                :key="item.id"
              >
                <v-list-item-avatar>
                  <v-img :src="item.avatar_url"></v-img>
                </v-list-item-avatar>

                <v-list-item-content @click="onClick(item.id)">
                  <v-list-item-title v-html="item.username"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              
              <v-divider
              :key="index"
              :inset="true"
              ></v-divider>
            </template>
          </v-list>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="onClick(userId)"
          >
            Chat
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>

import qiscus from '../const'
import store from '../store'
import router from '../router'

export default {
  name: 'ChatBox',
  data(){ 
      return {
        dialog: false,
        userId: '',
        items: [],
        users: [],
      }
  },
  props: {
    msg: String
  },
  mounted(){
    this.getAllChats();
    console.log(qiscus.isLogin)
  },
  methods: {
    getAllChats(){
      var params = { 
        page: 1, 
        limit: 10,
        show_participants: false,
        show_empty : false
      }
      qiscus.loadRoomList(params)
      .then((rooms) => {
          // On success
          console.log('rooms', rooms)
          this.items = rooms.map(item => {
            return item
          })
          console.log(this.items)
          setInterval(() => {
            this.getAllChats();
          }, 6000)
      })
    },
    newChat(){
      this.dialog = true;
      qiscus.getUsers()
      .then((resp) => {
        console.log(resp)
        this.users = resp.users.map(item => {
          return item
        })

      })
    },
    onClick(id) {
      qiscus.chatTarget(id)
      .then((room) => {
        console.log(room)
        localStorage.setItem('roomId', room.id)
        localStorage.setItem('chatTarget', room)
        store.dispatch('chatTarget', room)
        router.push('/chat')
      })
      .catch(function (error) {
        // On error
        console.log(error)
      })
      
      this.dialog = false;
    },
    getByRoomId(id){
      qiscus.getRoomById(id)
        .then((room) => { 
          localStorage.setItem('roomId', room.id)
          localStorage.setItem('chatTarget', room)
          store.dispatch('chatTarget', room)
          router.push('/chat')
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
