<template>
  <v-card
    width="450"
    max-height="600"
    class="mx-auto"
  >
    <v-toolbar
      color="green"
      dark
    >
      <v-toolbar-title>{{this.target.name}}</v-toolbar-title>
    </v-toolbar>

    <v-list style="max-height: 300px; overflow-x: scroll">
      <template v-for="(item) in items">
        <v-list-item
            v-if="checkUserReceive(item.username_as)"
          :key="item.id"
        >
        <v-card>
            <v-list-item-content>
                <v-list-item-subtitle v-html="item.message" class="chat-message"></v-list-item-subtitle>
            </v-list-item-content>
          </v-card>
        </v-list-item>
        <v-list-item
            v-if="checkUserSend(item.username_as)"
          :key="item.id"
          style="justify-content: flex-end"
        >
        <v-card>
            <v-list-item-content>
                <v-list-item-subtitle v-html="item.message" class="chat-message"></v-list-item-subtitle>
            </v-list-item-content>
          </v-card>
        </v-list-item>
      </template>
    </v-list>
    <v-textarea
        label="Type message here ..."
        auto-grow
        v-model="comment"
        outlined
        rows="1"
        row-height="3"
        append-icon="mdi-comment"
        @click:append="newChat()"
    ></v-textarea>
  </v-card>
</template>

<script>

import store from '../store'
import qiscus from '../const'

export default {
  name: 'ChatBox',
  data(){ 
      return {
        roomId: null,
        items: [],
        comment: '',
        target: {
            name: '',
        },
        // newMessage: qiscus.options.newMessagesCallback(),
      }
  },
  props: {
    msg: String
  },
  mounted(){
      if(localStorage.getItem('roomId') != null){
        this.roomId = localStorage.getItem('roomId')
        this.getMessage(this.roomId)
      }
  },
  watch: {
    //   newMessage: function(){
    //     this.getMessage(this.roomId)
    //   }
  },
  computed: {
  },
  methods: {
    checkUserSend(name){
        if(name == store.getters.userLoggedIn.user.username){
            return true
        } else {
            return false
        }
    },
    checkUserReceive(name){
        if(name == store.getters.userLoggedIn.user.username){
            return false
        } else {
            return true
        }
    },
    newChat(){
        qiscus.sendComment(this.roomId, this.comment)
        .then((comment) => {
            // On success
            console.log(comment)
            this.comment = '';
            this.getMessage(this.roomId);
            setInterval(() => {
                this.getMessage(this.roomId)
            }, 6000)
        })
        .catch(function () {
            // On error
        })
    },
    getMessage(id){
        qiscus.getRoomById(id)
        .then((room) => { 
            this.items = room.comments.map(item => {
                return item
            })
            console.log(this.items)
            this.target.name = room.name
        })
        // this.items = store.getters.chatTarget.comments.map(item => {
        //     return item
        // })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.chat-message{
    padding-left: 5px;
    padding-right: 5px;
}
</style>
