<template>
  <v-card
    width="450"
    max-height="600"
    class="mx-auto"
  >
    <v-toolbar
      color="green"
      dark
    >
      <v-toolbar-title>Login</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-list style="max-height: 300px; overflow-x: scroll" three-line>
      <template>
        <v-list-item
        >
          <v-list-item-content>
            <v-text-field
              ref="name"
              label="User ID"
              placeholder="userId"
              required
              v-model="userData.userId"
            ></v-text-field>
            <v-text-field
              ref="name"
              label="User Name"
              placeholder="username"
              required
              v-model="userData.username"
            ></v-text-field>
            <v-text-field
              ref="name"
              label="User Key"
              placeholder="userKey"
              type="password"
              required
              v-model="userData.userKey"
            ></v-text-field>
          </v-list-item-content>
        </v-list-item>
        <v-row
          align="center"
          justify="space-around"
        >
          <v-btn depressed @click="login()">
            Login
          </v-btn>
        </v-row>
      </template>
    </v-list>
    
  </v-card>
</template>

<script>

import store from '../store'
import router from '../router'
import qiscus from '../const'

export default {
  name: 'LoginPage',
  data(){  
    return {
      userData: {
        userId: 'dev04',
        userKey: 'dev04',
        username: 'dev04'
      },
    }
  },
  props: {
    msg: String
  },
  mounted(){

  },
  methods: {
    login(){
      qiscus.setUser(this.userData.userId, this.userData.userKey, this.userData.username)
      .then(function (authData) {
      // On success
        localStorage.setItem('token', authData.user.token);
        localStorage.setItem('authdata', JSON.stringify(qiscus.userData));
        store.dispatch('AUTH_REQUEST', authData);
        router.push('/')
      })
      .catch(function () {
          // On error
          // console.log(error)
      })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
