<template>
  <v-app>
    <div class="title">
      <v-row
        align="center"
        justify="space-around"
      >
      <img src="./assets/logo.svg" />
      </v-row>
      <h2>Welcome to Qiscus Chat</h2>
    </div>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

import store from './store'
import qiscus from './const'

export default {
  name: 'App',
  data(){  
    return {
      userData: {
        userId: 'dev04',
        userKey: 'dev04',
        username: 'dev04'
      },
    }
  },
  mounted(){
  },
  methods: {
    login(){
      qiscus.setUser(this.userData.userId, this.userData.userKey, this.userData.username)
      .then(function (authData) {
      // On success
        localStorage.setItem('token', authData.user.token);
        localStorage.setItem('authdata', JSON.stringify(qiscus.userData));
        store.dispatch('AUTH_REQUEST', authData);
      })
      .catch(function () {
          // On error
          // console.log(error)
      })
    },
  }
};
</script>

<style lang="scss" scoped>
.title, .title img{
  padding: 20px;
  align-self: center
}

</style>
